/* Utility */

.border{
    border: 1px dotted blue;
}

/* Styles */

body {
    margin: 0;
}

#header-section{
    background-image: url("./images/colorado_springs2.jpg");
    background-repeat: no-repeat;
    background-size: 50% 100%;
    background-position: center;
    image-rendering: pixelated;
    background-color: #241205;
    width: 100%;
    height: 500px;
    color: #e4dcca;
    text-align: center;
    font-size: 40px;
    text-shadow: 0 0 2px black;
}

#header-section h1{
    margin-top: 0;
}

#activity-section{
    text-align: center;
    background-color: #8eac84;
}

#activity-section h3 {
    font-size: 30px;
    margin-top: 0;
}

#activity-container{
    display: flex;
    justify-content: center;

}

.activity {
    border: 1px solid black;
    margin: 16px;
    padding: 8px;
    width: 250px;
    height: 250px;
    background-color: #e4dcca;
    border-radius: 5px;
}

#activity-section img {
    width: 100%;
    height: 125px;
    border-radius: 50%;
}

#footer-section {
    background-color: #534f33;
    color: #e4dcca;
}

#profile{
    display: flex;
    justify-content: center;

}

#profile img{
    border: 1px solid black;
    width: 150px;
    height: 300px;
    margin: 10px;
}

#profile-txt {
    padding: 5px;
}